.env
.vscode

# gitignore for Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/        
*.egg-info/
.installed.cfg
*.egg
.DS_Store
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
cover/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.coverage
